{exp:stash:set parse_tags="yes"}

	{stash:block_global-nav}
		{snippet-header-topbar}
	{/stash:block_global-nav}

	{stash:block_metadescription}{gv-blog-metadescription}{/stash:block_metadescription}

	{stash:block_metatitle}{gv-blog-metatitle}{triggers:entries_title_archive}{triggers:entries_title_category}{triggers:entries_title_tag} | {gv-global-metatitle}{/stash:block_metatitle}
		
	{stash:block_main-body}


		{!--// Blog Archive Title --}
		<h1>
			{gv-blog-title} 
			<small>{triggers:entries_title_archive}{triggers:entries_title_category}{triggers:entries_title_tag}</small>
		</h1>
		
		<article>

			{exp:channel:entries
				channel="blog"
				status="public"
				disable="{var-disable}"
				limit="10"
				{var-sort-blog}
				dynamic="off"
				paginate="bottom"
				paginate_base="/blog/"
				{triggers:entries}
			}
				
				{if no_results}<li>Sorry, no posts match that filter.</li>{/if}
		
					
					<div class="row">
						{if cf-post_featured-type != ""}
							<div class="small-6 columns">
						{if:else}
							<div class="small-12 column">
						{/if}

									{!-- // Blog Archive List Item --}
							       <h3>

								       	<a href="/blog/post/{url_title}/">{title}</a>
								       
									    <small>   	
									    {snippet-filed-in}
									    </small>
							       </h3>
							       
							       <h6>Written by <a href="#">{author}</a> on {entry_date format="{var-df-date}"}</h6>
									

								<p class="summary">
									{exp:eehive_hacksaw					
									words = "{gv-words-in-summary}"
									append="..."
									}

									{cf-post_body}		

							 		{/exp:eehive_hacksaw}
					 			</p>
		     				</div>

		     				{if cf-post_featured-type != ""}
		     					<div class="small-6 columns">
		     						<a class="th" href="/blog/post/{url_title}"><img src="{cf-post_featured-image:medium}"></a>
		     					</div>
		     				{/if}
	     			</div>
	     		
		     		{snippet-paginate}
			{/exp:channel:entries}
		</article>





	{/stash:block_main-body}
	
	{stash:block_sidebar}
		{snippet-sidebar}			
	{/stash:block_sidebar}

{/exp:stash:set}


{embed="_wrappers/{exp:low_variables:parse var='gv-blog-wrapper'}"}