
{exp:stash:set parse_tags="yes"}


	{stash:block_main-body}
		{exp:channel:entries
			channel="blog|videos"
			status="public"
			disable="{var-disable}"
			limit="1"
			require_entry="yes"
			dynamic="yes"
		}


			{stash:block_global-nav}
				{snippet-header-topbar}		
			{/stash:block_global-nav}

		
			{if no_results}{redirect="404"}{/if}

			{stash:block_metadescription}{cf-post_metadescription}{/stash:block_metadescription}

			{stash:block_metatitle}{if cf-post_metatitle}{cf-post_metatitle}{if:else}{title}{/if} | {gv-global-metatitle}{/stash:block_metatitle}
			
			{!-- // Featured Image  --}
			{if cf-post_featured-type =="As banner"}<img src="{cf-post_featured-image:banner}">{/if}

			<article>

			{!-- // Blog post header --}
		       <h3><a href="/blog/post/{url_title}/">{title}</a>
				<small>{snippet-filed-in}</small></h3>
		       <h6>Written by <a href="#">{author}</a> on {entry_date format="{var-df-date}"}</h6>
	

			{!-- // Blog post body --}
	         	{if cf-post_featured-type =="With content - large"}<a class="th" href="{cf-post_featured-image}"><img src="{cf-post_featured-image:large}"></a>{/if}
	         	{if cf-post_featured-type =="With content - medium"}<a class="th" href="{cf-post_featured-image}"><img src="{cf-post_featured-image:medium}"></a>{/if}
	         	{if cf-post_featured-type =="With content - small"}<a class="th" href="{cf-post_featured-image}"><img src="{cf-post_featured-image:small}"></a>{/if}

	         	{cf-post_body}
	         	
	         	{snippet-comments}
	         	
	         	{!-- store our channel so it can be replaced later after the comments form has expanded --}
	         	{preload_replace:pre_channel="blog"}
	         	
	         	{snippet-comments-form}			         	
			
			 </article>
		{/exp:channel:entries}
	{/stash:block_main-body}

	{stash:block_sidebar}
		{snippet-sidebar}			
	{/stash:block_sidebar}	

{/exp:stash:set}


{embed="_wrappers/{exp:low_variables:parse var='gv-blog-wrapper'}"}