small {display:block;}
.header{margin-bottom: 2em;}
.row.item {margin-bottom: 1em;}
.widget h5 {margin-bottom: 0; padding-bottom:0;}
.item-meta {font-size: 70%;}
aside .widget {border-bottom:1px solid #bbb; margin-bottom: 1em;}
.center {text-align:center;}
.comment {padding-bottom: 2em;}