
{exp:stash:set parse_tags="yes"}
	{stash:block_global-nav}
		{snippet-header-topbar}
	{/stash:block_global-nav}

	{stash:block_metadescription}{gv-video-metadescription}{/stash:block_metadescription}
	{stash:block_metatitle}{gv-video-metatitle}{triggers:entries_title_archive}{triggers:entries_title_category}{triggers:entries_title_tag} | {gv-global-metatitle}{/stash:block_metatitle}
		
	{stash:block_main-body}

		<h1>{gv-videos-title} {triggers:entries_title_archive}{triggers:entries_title_category}{triggers:entries_title_tag}</h1>
		<div class="row">
			<div class="small-12 columns">
				<ul class="sub-nav right">
					<li>Filter:</li>
					<li {if triggers:segment_3 == ""}class="active"{/if}><a href="/portfolio/filtered/">All</a></li>
						 {exp:zoo_triggers:categories 
						 	channel="videos" 
						 	status="public" 
						 	path="/videos/filtered/topic" 
						 	all_text="Show all topics" 
						 	show_counter="no"
						 	show_ul="no"
						 	css_active="active"
						 	cat_group_id="2"

						 	}
				</ul>
			</div>
		</div>
		<div class="row">
			{exp:channel:entries
				channel="videos"
				status="public"
				disable="{var-disable}"
				limit="10"
				{var-sort-blog}
				dynamic="off"
				paginate="bottom"
				paginate_base="/blog/"
				{triggers:entries}
			}
				
				{if no_results}<li>Sorry, no posts match that filter.</li>{/if}


				<div class="small-6 large-4 columns {if count == total_results}end{/if}">
					{if cf-post_featured-image}
						<a class="th" href="/videos/post/{url_title}/">
							<img src="{cf-post_featured-image:medium}">
						</a>
					{/if}
					<h6><a href="/videos/post/{url_title}/">{title}</a></h6>
					<p class="item-meta">
						{entry_date format="{var-df-date}"}<br>
						{snippet-filed-in}
					</p>
				</div> 

				 {snippet-paginate}

			{/exp:channel:entries}
		</div>


	{/stash:block_main-body}
	
	{stash:block_sidebar}
		{snippet-sidebar}			
	{/stash:block_sidebar}

{/exp:stash:set}


{embed="_wrappers/index"}