<!-- // START videos/index -->

{exp:stash:set parse_tags="yes"}
	{stash:block_global-nav}
		{snippet-header-topbar}
	{/stash:block_global-nav}

	{stash:block_metadescription}{gv-video-metadescription}{/stash:block_metadescription}
	{stash:block_metatitle}{gv-video-metatitle}{triggers:entries_title_archive}{triggers:entries_title_category}{triggers:entries_title_tag} | {gv-global-metatitle}{/stash:block_metatitle}
		
	{stash:block_main-body}

		<h1>{if segment_1 == ""}Latest {/if}{gv-videos-title}  {triggers:entries_title_archive}{triggers:entries_title_category}{triggers:entries_title_tag}</h1> 
		<div class="row">

			{exp:channel:categories
				channel="videos"
				status="open|public"
				show="not 1"
				style="linear"
				show_empty="no"
			}
				<div class="large-4 small-12 columns {if count == total_results}end{/if}">	
		            <h4>{if category_image}{!--<img src="{gv-images-path}_category/{category-image-filename}">--}<img src="{gv-images-path}_category/{category-image-filename}"><br>{/if}<a href="/videos/listing/topic/{category_url_title}">{category_name}</a></h4>
		            {if category_description}<p>{category_description}</p>{/if}
		            <ul class="no-bullet caption">
		            {exp:channel:entries
		            	channel="videos"
		            	disable="custom_fields|categories|category_fields|member_data|pagination|trackbacks"
		            	dynamic="off"
		            	status="public"
		            	category="{category_id}"
		            	limit="5"
		            }

		            
		            	<li><a href="/videos/post/{url_title}">{title}</a></li>
		            
		            {/exp:channel:entries}
		            

		            	<li><strong><a href="/videos/listing/topic/{category_url_title}">View all</a></strong></li>
		            


		            </ul>
				</div>	
			{/exp:channel:categories}

		
		</div>
	{/stash:block_main-body}
	
	{stash:block_sidebar}
		{snippet-sidebar}			
	{/stash:block_sidebar}

{/exp:stash:set}


{embed="_wrappers/{exp:low_variables:parse var='gv-video-wrapper'}"}<!-- // END videos/index -->
