<!-- // START videos/listing -->

{exp:stash:set parse_tags="yes"}
	{stash:block_global-nav}
		{snippet-header-topbar}
	{/stash:block_global-nav}

	{stash:block_metadescription}{triggers:cat_description_1}{/stash:block_metadescription}
	{stash:block_metatitle}{gv-blog-metatitle}{triggers:entries_title_archive}{triggers:entries_title_category}{triggers:entries_title_tag} | {gv-global-metatitle}{/stash:block_metatitle}
		
	{stash:block_main-body}
		{exp:channel:categories channel="videos" show="{triggers:cat_id_1}" style="linear" parent_only="yes"}

		    {if category_image}<img src="{gv-images-path}_banner/{category-image-filename}"><br>{/if}
		    
		{/exp:channel:categories} 
		<h1>{gv-videos-title} {triggers:entries_title_archive}{triggers:entries_title_category}{triggers:entries_title_tag}</h1>
		
		<div class="row">
			{exp:channel:entries
				channel="videos"
				status="public"
				disable="{var-disable}"
				limit="10"
				{var-sort-blog}
				dynamic="off"
				paginate="bottom"
				paginate_base="/videos/"
				{triggers:entries}
			}
				
				{if no_results}<li>Sorry, no posts match that filter.</li>{/if}
				<div class="small-12 large-4 columns{if count == total_results} end{/if}">
					<a class="th" href="/videos/post/{url_title}/"><img src="{cf-post_featured-image:video-medium}"></a>
					<p class="item-meta">
						{entry_date format="{var-df-date}"}<br><a href="/videos/post/{url_title}/">{title}</a>
					</p>
		        </div>
				
				 

				 {snippet-paginate}

			{/exp:channel:entries}
		</div>


	{/stash:block_main-body}
	
	{stash:block_sidebar}
		{snippet-sidebar}			
	{/stash:block_sidebar}

{/exp:stash:set}


{embed="_wrappers/{exp:low_variables:parse var='gv-video-wrapper'}"}<!-- // END videos/listing -->
