<!-- // START videos/post -->
{exp:stash:set parse_tags="yes"}


	{stash:block_main-body}
		{exp:channel:entries
			channel="videos"
			status="public"
			disable="{var-disable}"
			limit="1"
			require_entry="yes"
			dynamic="yes"
		}
			{if no_results}{redirect="404"}{/if}

			{stash:block_global-nav}
				{snippet-header-topbar}
			{/stash:block_global-nav}
			
			{stash:block_metadescription}{cf-post_metadescription}{/stash:block_metadescription}

			{stash:block_metatitle}{if cf-post_metatitle}{cf-post_metatitle}{if:else}{title}{/if} | {gv-global-metatitle}{/stash:block_metatitle}
		
			<h1>{title}<br><small>{entry_date format="{var-df-date}"}</small></h1>
			<p>{snippet-filed-in}</p>
			
			{exp:channel_videos:videos entry_id="{entry_id}" }
			    <h3>{video:title}</h3>
			    <div class="flex-video">{video:embed_code}</div>
			    <p>{video:description}</p>
			    <p>by <a href="{video:web_url}">{video:username}</a> on {video:date format="{var-df-date}"}
			{/exp:channel_videos:videos}
		
			{cf-post_body}
		
			{snippet-comments}

			{!-- store our channel so it can be replaced later after the comments form has expanded --}
			{preload_replace:pre_channel="videos"}
			
			{snippet-comments-form}			         	
		{/exp:channel:entries}
	{/stash:block_main-body}

	{stash:block_sidebar}
		{snippet-sidebar}			
	{/stash:block_sidebar}	

{/exp:stash:set}


{embed="_wrappers/{exp:low_variables:parse var='gv-video-wrapper'}"}<!-- // END videos/post -->