/* line 1, ../scss/site.scss */
small { display: block; }

/* line 2, ../scss/site.scss */
.header { margin-bottom: 2em; }

/* line 3, ../scss/site.scss */
.row.item { margin-bottom: 1em; }

/* line 4, ../scss/site.scss */
.widget h5 { margin-bottom: 0; padding-bottom: 0; }

/* line 5, ../scss/site.scss */
.item-meta { font-size: 70%; }

/* line 6, ../scss/site.scss */
aside .widget { border-bottom: 1px solid #bbb; margin-bottom: 1em; }

/* line 7, ../scss/site.scss */
.center { text-align: center; }

/* line 8, ../scss/site.scss */
.comment { padding-bottom: 2em; }
