{exp:stash:set parse_tags="yes"}

  
  {exp:channel:entries
    channel="pages"
    status="public|open"      
  }

    {if no_results}{redirect="404"}{/if}    
    
    {stash:block_metadescription}{cf-post_metadescription}{/stash:block_metadescription}
    
    {stash:block_metatitle}{if cf-post_metatitle}{cf-post_metatitle}{if:else}{title}{/if} | {gv-global-metatitle}{/stash:block_metatitle}

    {stash:block_global-nav}
      {snippet-header-topbar}
    {/stash:block_global-nav}

    {stash:block_local-nav}
      {snippet-local-nav-accordion}  
    {/stash:block_local-nav}
    
    {stash:block_breadcrumbs}
      {snippet-breadcrumbs}
    {/stash:block_breadcrumbs}

    {stash:block_main-body}   

      {!-- // Display featured image --}
      {if cf-post_display-image =="As banner"}<img src="{cf-post_featured-image:banner}">{/if}

                        {!-- // Display post content --}
      <h1>{title}</h1>
      
      {snippet-post-featured-image}
      
      {cf-post_body}          
      
      {exp:email:contact_form 
      user_recipients="no" 
      return="{site_url}/pages/contact-response/" 
      recipients="bryan@openmotive.com" 
      charset="utf-8"
      }


              <p>
                      <label for="from">Your Email:</label><br />
                      <input type="text" id="from" name="from" size="40" maxlength="35" value="{member_email}" />
              </p>
              <p>
                      <label for="subject">Subject:</label><br />
                      <input type="text" id="subject" name="subject" size="40" value="Contact Form" />
              </p>
              <p>
                      <label for="message">Message:</label><br />
                      <textarea id="message" name="message" rows="18" cols="40">
                              Support Email from: {member_name}
                              Sent at:  {current_time format="%Y %m %d"}
                      </textarea>
              </p>
              <p>
                      <input name="submit" type='submit' value='Submit' />
              </p>
      {/exp:email:contact_form}
      {/stash:block_main-body}

      {stash:block_sidebar}
      
        {cf-post_sidebar disable="category_fields|member_data|pagination"}  
          {snippet-single-widget}
        {/cf-post_sidebar}
      
      {/stash:block_sidebar}


  {/exp:channel:entries}

{/exp:stash:set}


{embed="_wrappers/{exp:low_variables:parse var='gv-contact-wrapper'}"}

