		<div class="small-6 large-6 columns {if count==total_results}end{/if}">
				<a class="th" href="/{embed:channel}/post/{url_title}">{cf-post_featured-image:small wrap="image"}</a>						
				<p class="item-meta"><a href="/{embed:channel}/post/{url_title}">{title}</a><br>{entry_date format="{var-df-date-short}"}</p>
			</div>