<!-- // START snippet-single-widget -->

<div class="widget {cf-widget_class}">
{if cf-widget_template}
  {embed="{cf-widget_template}" 
    channel="{cf-widget_channel}"
    filter="{cf-widget_filter}" 
    limit="{cf-widget_limit}" 
    heading="{cf-widget_title}" 
    incl_images="{cf-widget_include-images}" 
    widget_id="{entry_id}"
    image-size="{cf-widget_image-size}"
    cat_group="{cf-widget_cat-group}"
    }
{if:else}
	{if cf-widget_feature-image}
		<img src="{cf-widget_feature-image:small}">
	{/if}
	<h5>{cf-widget_title}</h5>
	{cf-widget_body}
{/if}
</div>
<!-- // END snippet-single-widget -->