<!-- // START snippet-meta-nav -->
<nav>
    {exp:taxonomy:nav 
    	tree_id="3"
    	display_root="no" 
    	
    	ul_css_class="inline-list right"

    }
        <li class="{node_active}"><a href="{node_url}">{node_title}</a>{children}</li>
    {/exp:taxonomy:nav}
</nav>
<!-- // END snippet-meta-nav -->