<!-- // START snippet-local-nav-nested -->
<div class="widget panel">
<h4><small>In this section:</small></h4>
<ul class="side-nav" id="nav-sub">
{exp:taxonomy:nav 
    tree_id="1" 
    depth="3"
    entry_id="{entry_id}"
    display_root="no"
    auto_expand="yes"
    active_branch_start_level="1"
    ul_css_id="nav-sub"
    ul_css_class="side-nav"
    status="public"
 	style="linear"
}
<li class="{node_active}"><a href="{node_url}">{node_title}</a>{children}</li>

{/exp:taxonomy:nav}
</ul>
</div>
<!-- // END snippet-local-nav-nested -->