<!-- // START snippet-javascript -->  
  <script src='/js/vendor/jquery.js'></script>
  <script src="/js/foundation/foundation.js"></script>
  <script src="/js/foundation/foundation.alerts.js"></script>
  <script src="/js/foundation/foundation.clearing.js"></script>
  <script src="/js/foundation/foundation.cookie.js"></script>
  <script src="/js/foundation/foundation.dropdown.js"></script>
  <!--<script src="/js/foundation/foundation.forms.js"></script>-->
  <!--<script src="/js/foundation/foundation.joyride.js"></script>-->
  <!--<script src="/js/foundation/foundation.magellan.js"></script>-->
  <!--<script src="/js/foundation/foundation.orbit.js"></script>-->
  <script src="/js/foundation/foundation.placeholder.js"></script>
  <!--<script src="/js/foundation/foundation.reveal.js"></script>-->
  <script src="/js/foundation/foundation.section.js"></script>
  <!--<script src="/js/foundation/foundation.tooltips.js"></script>-->
  <script src="/js/foundation/foundation.topbar.js"></script>
  <!--<script src="/js/foundation/foundation.interchange.js"></script>-->
  <script src="/css/fancybox/source/jquery.fancybox.pack.js"></script>
  

  <script>
    $(document).foundation();
  </script>
   
{!-- include royal slider only if on home page --}
    
    
    <!-- Plugin requires jQuery 1.7+  -->
    <!-- If you already have jQuery on your page, you shouldn't include it second time. -->
    <!--<script src='royalslider/jquery-1.8.3.min.js'></script>-->

    <!-- Main slider JS script file --> 

    {!-- Include royalslider if we are on the home page --}
    {if segment_1 ==""}
      <script src="/js/jquery.royalslider.custom.min.js"></script>
    {/if}

    <script type="text/javascript">
       $(document).ready(function() {


           $(".modal").fancybox();
          
    
          {!-- Initiate royalslider if we are on the home page --}
          {if segment_1 == ""}


            $(".royalSlider").royalSlider({
                // options go here
                // as an example, enable keyboard arrows nav
                keyboardNavEnabled: true,
                loop: true,
                slidesOrientation: 'horizontal',
                transitionType: 'move',
                transitionSpeed: 400,
                moveEffect: 'none',
                sliderTouch: false,
                addActiveClass: true,
                rsOnUpdateNav: true,
                usePreloader: true,
                fadeEffect: true,
                autoPlay: {
                        // autoplay options go gere
                        enabled: true,
                        pauseOnHover: true,
                        transitionType: 'fade',
              moveEffect: 'none',
              speed: 0,
              delay: 5000
                      },

                
                
                block: {
                        delay: 5000
                      }

            });  
            {/if}

           
  

      });
     </script>
 

  
<!-- // END snippet-javascripts -->