<!-- // START snippet-comments-form -->

{exp:comment:form channel="{pre_channel}" }

{if logged_out}
  <div class="row">
    <div class="small-8">
      <div class="row">
        <div class="small-3 columns">
          <label for="name" class="right inline">Name:</label>
        </div>
        <div class="small-9 columns">
             <input type="text" name="name" value="{name}" placeholder="John Smith"/>
        </div>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="small-8">
      <div class="row">
        <div class="small-3 columns">
          <label for="email" class="right inline">Email:</label>
        </div>
        <div class="small-9 columns">
             <input type="text" name="email" value="{email}" placeholder="john.smith@myemail.com"/>
        </div>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="small-8">
      <div class="row">
        <div class="small-3 columns">
          <label for="url" class="right inline">URL:</label>
        </div>
        <div class="small-9 columns">
             <input type="text" name="url" value="{url}" placeholder="www.mydomain.com"/>
        </div>
      </div>
    </div>
  </div>
  {/if}
  <div class="row">
    <div class="small-8">
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline"><label for="comment">Comment:</label></label>
        </div>
        <div class="small-9 columns">
            <textarea name="comment" cols="70" rows="10" placeholder="What are your thoughts?">{comment}</textarea>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="small-8">
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline"></label>
        </div>
        <div class="small-9 columns">
            <label><input type="checkbox" name="save_info" value="yes" {save_info} /> Remember my personal information</label><br />
            <label><input type="checkbox" name="notify_me" value="yes" {notify_me} /> Notify me of follow-up comments?</label><br />
            {if captcha}
                <label for="captcha">Please enter the word you see in the image below:</label><br />
                <p>{captcha}<br />
                <input type="text" name="captcha" value="{captcha_word}" maxlength="20" /></p>
            {/if}

            <input type="submit" name="submit" value="Submit" />
            <input type="submit" name="preview" value="Preview" />

        {/exp:comment:form}
                    
            {exp:comment:notification_links}
                {if subscribed}
                <h5><a href="{unsubscribe_link}">Unsubscribe to comment notification for this entry.</a></h5>
                {if:else}
                <h5><a href="{subscribe_link}">Subscribe to comment notification for this entry.</a></h5>
                {/if}
            {/exp:comment:notification_links}
        </div>
      </div>
    </div>
  </div>
</form>




<!-- // END snippet-comments-form -->