<!-- // START snippet-header-topbar -->
<div class="contain-to-grid sticky">
<nav class="top-bar" data-options="is_hover:false">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      
        <h1>
        {if gv-logo}
        <a href="/">
         <img src="{gv-logo}" alt="{site_name}">
         </a>
        {if:else}
          <a href="/">{site_name}</a> 
        {/if}
          
        </h1>
    </li>
    
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>
  <section class="top-bar-section">
     <!-- Right Nav Section -->
     
    {exp:taxonomy:nav 
      tree_id="1"
      depth="2"
      display_root="no" 
      entry_status="open|public"
      ul_css_class:level_3="dropdown"
      ul_css_class:level_2="dropdown"
      ul_css_class:level_1="left"
      template_path="{segment_1}"
    }
     
      <li class="node_{node_id}{if node_has_children == "yes"} has-dropdown{/if}{if node_active_parent} active_parent{/if}">
      <a href="{node_url}">{node_title}</a>
      {children}
      </li>
        <li class="divider"></li>
    {/exp:taxonomy:nav}

    {if logged_in}
    <ul class="right">
    <li class="has-dropdown">
      <a href="#"><i class="fa fa-fw fa-user"></i> {screen_name}</a>
      <ul class="dropdown">
        <li><a href="/admin.php">Control panel</a></li>
        <li><a href="#">My Profile</a></li>
        <li><a href="#">Log-out</a></li>
      </ul>
    </li>
    </ul>
    {/if}
    
    </section>
</nav>
</div>
<!-- // END snippet-header-topbar -->