{!-- This snippet checks the cf-post_featured-type to determine if and how to display the featured image on the post page --}
	
	<!-- /// BEGIN snippet-post-featured-image -->
	{if cf-post_featured-type =="With content - large"}
		<a class="th modal" data-fancybox-group="modal" data-fancybox-title="{image-caption}" rel="gallery_{entry_id}" href="{cf-post_featured-image}"><img src="{cf-post_featured-image:large}"></a>
		<p class="item-meta">{cf-post_featured-image}{credit} {location}{/cf-post_featured-image}</p>
	{/if}
	{if cf-post_featured-type =="With content - medium"}
		<a class="th modal" data-fancybox-group="modal" data-fancybox-title="{image-caption}" rel="gallery_{entry_id}" href="{cf-post_featured-image}"><img src="{cf-post_featured-image:medium}"></a>
		<p class="item-meta">{cf-post_featured-image}{credit} {location}{/cf-post_featured-image}</p>
	{/if}
	{if cf-post_featured-type =="With content - small"}
		<a class="th modal" data-fancybox-group="modal" data-fancybox-title="{image-caption}" rel="gallery_{entry_id}" href="{cf-post_featured-image}"><img src="{cf-post_featured-image:small}"></a>
		<p class="item-meta">{cf-post_featured-image}{credit} {location}{/cf-post_featured-image}</p>
	{/if}
	{if cf-post_featured-type =="With content - thumbnail"}
		<a class="th modal" data-fancybox-group="modal" data-fancybox-title="{image-caption}" rel="gallery_{entry_id}" href="{cf-post_featured-image}"><img src="{cf-post_featured-image:thumb}"></a>
	{/if}
	<!-- /// END snippet-post-featured-image -->
			