{!-- renders global nav tree breadcrumbs for taxonomy-aware pages and templates --}
<!-- // START snippet-breadcrumbs -->
<ul class="breadcrumbs">
	{exp:taxonomy:breadcrumbs 
		status="open|public" 
		tree_id="1" 
		entry_id="{entry_id}" 	
		}
		{if here}
			<li class="current">{node_title}</li>
		{if:else}
			<li><a href="{node_url}">{node_title}</a> &rarr; </li>
		{/if}
	{/exp:taxonomy:breadcrumbs}	
</ul>
<!-- // END snippet-breadcrumbs -->