<!-- // START snippet-footer -->
<hr>
<footer class="row">
      {exp:low_variables:pair var="gv-footer-widgets"}  
        <div class="large-3 columns">
              {snippet-single-widget}
        </div>
      {/exp:low_variables:pair}
      <div class="large-12 columns">
     	 {snippet-footer-nav}
      </div>
    <div class="large-12 columns">      
      <p>&copy; Copyright {current_time format="%Y"}.</p>
    </div> 
  </footer>    
<!-- // END snippet-footer -->