 {paginate}
  {pagination_links}
  <div class="pagination-centered">
  <ul class="pagination">
	  {first_page}
	          <li><a href="{pagination_url}" ><i class="fa fa-fw fa-step-backward"></i></a></li>
	  {/first_page}

	  {previous_page}
	          <li><a href="{pagination_url}" ><i class="fa fa-fw fa-angle-left"></i></a></li>
	  {/previous_page}

	  {page}
	          <li class="{if current_page}current{/if}"><a href="{pagination_url}" >{pagination_page_number}</a></li>
	  {/page}

	  {next_page}
	          <li><a href="{pagination_url}"><i class="fa fa-fw fa-angle-right"></i></a></li>
	  {/next_page}

	  {last_page}
	          <li><a href="{pagination_url}" ><i class="fa fa-fw fa-step-forward"></i></a></li>
	  {/last_page}
	 </ul>
	 </div>
  {/pagination_links}
  {/paginate}
