<div class="widget">
	<div class="section-container accordion" data-section="accordion" >
		{exp:taxonomy:nav 
		    tree_id="1" 
		    depth="3"
		    entry_id="{entry_id}"
		    display_root="no"
		    auto_expand="yes"
		    active_branch_start_level="1"
		    status="public"
		 	style="linear"
		}

		<section class="section {node_active} {if node_active_parent} active{/if}">
			<p class="title">
				<a href="{node_url}">{node_title}</a>
			</p>			 

			{if children}
			<div class="content">
				{children}
			</div>
			{/if}
		</section>
		{/exp:taxonomy:nav}

	</div><!-- .section-container -->
</div>