<!-- // START snippet-header-default -->




<div class="row">
      <div class="large-12 columns">
    
        <div class="nav-bar">
          {exp:taxonomy:nav 
          	tree_id="1"
          	depth="1"
          	display_root="no" 
          	entry_status="open|public"
          	ul_css_class="button-group right" 	        	
          }
              <li class="{node_active}"><a class="button" href="{node_url}">{node_title}</a>{children}</li>
          {/exp:taxonomy:nav}
        </div>

        
        <h1>
        {if gv-logo}
        <a href="/">
         <img src="{gv-logo}" alt="{site_name}">
         </a>
        {if:else}
          <a href="/">{site_name}</a> 
        {/if}
          <small>{gv-site-subhead}</small>
        </h1>
                         
        <hr>
      </div>
    </div>

    <!-- // END snippet-header-default -->