<!-- // START snippet-comments -->
<h3><small><i class="fa fafw fa-comment-o"></i> Comments ({comment_total})</small></h3>

	{exp:comment:entries sort="asc" limit="100" entry_id="{entry_id}"}

	
	<div class="comment">
		<div class="row">
			<div class="small-2 large-1 columns">
			<i class="fa fafw fa-quote-left fa-3x"></i>
				{!-- // UN-COMMENT if you want to use member avatars --}
				{!--{if avatar_url}<p class="centered"><img src="{avatar_url}" width="50"></p>{/if}	--}
				
			</div>
			<div class="small-10 large-11 columns">
				{comment}	
				<p class="item-meta">By <a href="mailto:{email}">{name}</a> on {comment_date format="{var-df-date}"}</p>
			</div>
		</div>
	</div>
    {/exp:comment:entries}

<!-- // END snippet-comments -->