<!-- // START snippet-head -->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{exp:stash:get name="block_metatitle"}</title>
  <meta name="description" content="{exp:stash:get name="block_metadescription"}">
  <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/foundation.css" />
  <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="/css/fancybox/source/jquery.fancybox.css"/>
  <!-- If you are using the gem version, you need this only -->
  <link rel="stylesheet" href="/css/site.css" />

  <script src="/js/vendor/custom.modernizr.js"></script>

    {!-- Load up royal slider CSS if we are on the home page--}
  {if segment_1 == "" OR segment_1 =="home"}
    <!-- basic stylesheet -->
    <link rel="stylesheet" href="/js/vendor/royalslider/royalslider.css">

    <!-- skin stylesheet (change it if you use another) -->
    <link rel="stylesheet" href="/js/vendor/royalslider/skins/universal/rs-universal.css"> 

    <style>
      .royalSlider {
        width: 100%;
        height: 200px;
      }
    </style>
    {/if}
</head>
<!-- // END snippet-head -->