
{exp:stash:set parse_tags="yes"}
	{stash:block_global-nav}
		{snippet-header-topbar}
	{/stash:block_global-nav}

	{stash:block_metadescription}{gv-portfolio-metadescription}{/stash:block_metadescription}
	{stash:block_metatitle}{gv-portfolio-metatitle}{triggers:entries_title_archive}{triggers:entries_title_category}{triggers:entries_title_tag} | {gv-global-metatitle}{/stash:block_metatitle}
		
	{stash:block_main-body}

		<h1>{gv-portfolio-title} {triggers:entries_title_archive}{triggers:entries_title_category}{triggers:entries_title_tag}</h1>
	
		<div class="row">
			{exp:channel:entries
				channel="portfolio"
				status="public"
				disable="{var-disable}"
				limit="10"
				{var-sort-blog}
				dynamic="off"
				paginate="bottom"
				paginate_base="/blog/"
				{triggers:entries}
			}
				
				{if no_results}<li>Sorry, no posts match that filter.</li>{/if}


				<div class="small-6 large-3 columns {if count == total_results}end{/if}">
					{if cf-post_featured-image}
						<a class="th" href="/portfolio/post/{url_title}/">
							<img src="{cf-post_featured-image:small}">
						</a>
					{/if}
					<h6><a href="/portfolio/post/{url_title}/">{title}</a></h6>
					<p class="item-meta">
						{entry_date format="{var-df-date}"}<br>
						{snippet-filed-in}

					</p>
				</div> 

				 {snippet-paginate}

			{/exp:channel:entries}
		</div>


	{/stash:block_main-body}
	
	{stash:block_sidebar}
		{snippet-sidebar}			
	{/stash:block_sidebar}

{/exp:stash:set}


{embed="_wrappers/{exp:low_variables:parse var='gv-portfolio-wrapper'}"}