
{exp:stash:set parse_tags="yes"}


	{stash:block_main-body}
		{exp:channel:entries
			channel="portfolio"
			status="public"
			disable="{var-disable}"
			limit="1"
			require_entry="yes"
			dynamic="yes"
		}
			{if no_results}{redirect="404"}{/if}

			{stash:block_global-nav}
				{snippet-header-topbar}
			{/stash:block_global-nav}
			
			{stash:block_metadescription}{cf-post_metadescription}{/stash:block_metadescription}

			{stash:block_metatitle}{if cf-post_metatitle}{cf-post_metatitle}{if:else}{title}{/if} | {gv-global-metatitle}{/stash:block_metatitle}
			
			{if cf-post_display-image =="As banner"}
				
					<img src="{cf-post_featured-image:banner}">{/if}
				
			<h1>{title}<br><small>{entry_date format="{var-df-date}"}</small></h1>
			
			<p>{snippet-filed-in}</p>			
			{snippet-post-featured-image}
			
			{cf-post_body}
			
			<div class="row">
				{cf-post_gallery}
				<div class="small-6 large-4 columns {if total_rows == row_count}end{/if}">
					<a class="th modal" data-fancybox-group="modal" data-fancybox-title="{image-caption}" rel="gallery_{entry_id}" href="{image:large}"><img src="{image:medium}" alt="{image-caption}"></a>
					<p class="image-title">{image-title}</p>
					<!--<p class="item-meta">{image-caption}</p>-->
				</div>
				{/cf-post_gallery}
			</div>

	         	
			{snippet-comments}

			{!-- store our channel so it can be replaced later after the comments form has expanded --}
			{preload_replace:pre_channel="portfolio"}
			
			{snippet-comments-form}	
					         	
		{/exp:channel:entries}
	{/stash:block_main-body}

	{stash:block_sidebar}
		{snippet-sidebar}			
	{/stash:block_sidebar}	

{/exp:stash:set}


{embed="_wrappers/{exp:low_variables:parse var='gv-portfolio-wrapper'}"}