<!-- // START portfolios/topics -->

{exp:stash:set parse_tags="yes"}
	{stash:block_global-nav}
		{snippet-header-topbar}
	{/stash:block_global-nav}

	{stash:block_metadescription}{gv-video-metadescription}{/stash:block_metadescription}
	{stash:block_metatitle}{gv-video-metatitle}{triggers:entries_title_archive}{triggers:entries_title_category}{triggers:entries_title_tag} | {gv-global-metatitle}{/stash:block_metatitle}
		
	{stash:block_main-body}

		<h1>{if segment_1 == ""}Latest {/if}{gv-portfolio-title}  {triggers:entries_title_archive}{triggers:entries_title_category}</h1> 

			{exp:channel:categories
				channel="portfolio"
				status="open|public"
				show="not 1"
				style="linear"
				show_empty="no"
			}
				<div class="row">

					<div class="small-12 columns">	
			            <h4><a href="/portfolio/topic/{category_url_title}">{category_name}</a></h4>
			            {if category_description}<p>{category_description}</p>{/if}
			            
			            <div class="row">
			            {exp:channel:entries
			            	channel="portfolio"
			            	disable="categories|category_fields|member_data|pagination|trackbacks"
			            	dynamic="off"
			            	status="public"
			            	category="{category_id}"
			            	limit="5"
			            }
			            	<div class="small-6 large-3 columns item {if entries:count == entries:total_results}end{/if}"> 
								<a class="th" href="/portfolio/post/{url_title}">{cf-post_featured-image:small wrap="image"}</a>
								<p class="item-meta"><a href="/portfolio/post/{url_title}">{title}</a><br>{entry_date format="{var-df-date-short}"}</p>								            			
			            	</div>		            	
			            {/exp:channel:entries}
			            </div>

			            <div class="row">
			            	<div class="small-12 columns">
			            		<p class="right"><a class="button small secondary" href="/portfolio/topic/{category_url_title}">View all</a>
			            	</div>
			            </div>

			       
					</div>	
				</div>
			{/exp:channel:categories}

		
				
	{/stash:block_main-body}
	
	{stash:block_sidebar}
		{snippet-sidebar}			
	{/stash:block_sidebar}

{/exp:stash:set}


{embed="_wrappers/{exp:low_variables:parse var='gv-portfolio-wrapper'}"}<!-- // END portfolios/topics -->
