<!-- // START videos/post -->

{exp:stash:set parse_tags="yes"}
		
		{stash:block_global-nav}
			{snippet-header-topbar}
		{/stash:block_global-nav}
		
		{stash:block_metadescription}{cf-global_metadescription}{/stash:block_metadescription}

		{stash:block_metatitle}{gv-global-metatitle}{/stash:block_metatitle}
			
		{stash:block_main-body}

			<!--carousel-->
			<div class="row hide-for-small">			
				{exp:low_variables:pair var="gv-home-1"}  
						{snippet-single-widget}
				{/exp:low_variables:pair}
			</div>

			<!--mobile header-->
			<div class="row show-for-small">
			  <div class="small-12"><br>
			    <img src="http://placehold.it/1000x600&text=For Small Screens" />
			  </div>
			</div>

			<div class="row">
			  <div class="large-12 columns">
			  <h3>Recent items</h3>
			    <div class="row">

			  <!-- Recent Thumbnails -->
			  	{exp:channel:entries
			  		channel="blog|videos|portfolio"
			  		disable="categories|category_fields|member_data|pagination|trackbacks"
			  		dynamic="off"
			  		require_entry="yes"
			  		category="1"
			  		limit="4"
			  		status="public"
			  		{var-sort-blog}
			  	}
				  	<div class="large-3 small-6 columns">
				        <a href="/{channel_short_name}/post/{url_title}/"><img src="{cf-post_featured-image:medium}"></a>
				        <h6 class="panel"><a href="/{channel_short_name}/post/{url_title}/">{title}</a></h6>
			      </div>	
			  		
			  	{/exp:channel:entries}
			     
			  <!-- End Thumbnails -->

			    </div>
			  </div>
			</div>

			<!--home-2 and home-3 and home-4 -->
			<div class="row">
				<div class="large-12 columns">
					<div class="row">

						<!-- Content -->

						<div class="large-8 columns">
							<div class="panel radius">

								<div class="row">
									<div class="large-6 small-6 columns">
										{exp:low_variables:pair var="gv-home-2"}  
												{snippet-single-widget}
										{/exp:low_variables:pair}
									</div>
									<div class="large-6 small-6 columns">
										{exp:low_variables:pair var="gv-home-3"}  
												{snippet-single-widget}
										{/exp:low_variables:pair}
									</div>

								</div>
							</div>
						</div>

						<div class="large-4 columns hide-for-small">
							{exp:low_variables:pair var="gv-home-4"}  
									{snippet-single-widget}
							{/exp:low_variables:pair}
						</div>

						<!-- End Content -->

					</div>
				</div>
			</div>
			

  		{/stash:block_main-body}

		{stash:block_sidebar}
			

		{/stash:block_sidebar}
	
{/exp:stash:set}


{embed="_wrappers/index"}
<!-- // END site/index -->
