<!-- // START widgets/archive-list -->
{if embed:heading != ""}
	<h5>{embed:heading}</h5>
{/if}
 <ul class="side-nav">
 {exp:zoo_triggers:archive 
 	channel="{embed:channel}" 
 	status="public" 
 	path="/{embed:channel}/archive"
 	all_text="Show all topics" 
 	show_counter="no"
 	show_ul="no"
 	show_counter="no"
 	show_future_entries="no"
 	css_active="active"
 	}

</ul>

<!-- // END widgets/archive-list -->