<!-- // START widgets/carousel -->
      <div class="royalSlider rsDefault">
        {exp:low_variables:pair var="gv-carousel"}  
        <div>
			<img src="{gv-carousel:carousel_image:banner}">
			<!--<p>{gv-carousel:copy}</p>
			<p class="more"><a href="{gv-carousel:link_url}">{gv-carousel:link_label}</a></p>-->
        </div>  
        {/exp:low_variables:pair}
      </div>
<!-- // END widgets/carousel -->