<!-- // START widgets/portfolio-recent -->
{if embed:heading != ""}
	<h5>{embed:heading}</h5>
{/if}

<div class="row">
	{exp:channel:entries
		channel="{embed:channel}"
		disable="member_data|pagination|trackbacks"
		dynamic="off"
		sort="{var-sort-portfolio}"
		limit="{embed:limit}"
		status="public"
		category="{embed:filter}"
		refresh="10"
	}		
		
		{if embed:incl_images == "Yes"}	
			<div class="small-6 large-6 columns {if count == total_results}end{/if}">
				<a class="th" href="/{embed:channel}/post/{url_title}">{cf-post_featured-image:{embed:image-size} wrap="image"}</a>						
				<p class="item-meta"><a href="/{embed:channel}/post/{url_title}">{title}</a><br>{entry_date format="{var-df-date-short}"}</p>
			</div>
		{if:else}
		<div class="small-12 columns">
			<p class=""><a href="/{embed:channel}/post/{url_title}/">			
					{title}
				</a><br>{entry_date format="{var-df-date-short}"}
				
			</p>
		</div>
		{/if}										
			
	{/exp:channel:entries}
</div>

<div class="row">
	<div class="small-12 columns">
	<p class=""><a class="button small" href="/{embed:channel}/">View all</a></p>
	</div>
</div>

<!-- // END widgets/portfolio-recent -->