<!-- // START widgets/featured-post -->
{exp:channel:entries
	channel="widgets"
	entry_id="{embed:widget_id}"
	disable="{gv-disable}"
	dynamic="off"
	require_entry="yes"
}
<div class="widget {cf-widget-class}">
	{exp:playa:children field="cf-widget_featured-post" status="public"}

	
		<h3>
			Featured {channel_name}
			<small><a href="/{channel_short_name}/post/{url_title}/">{title}</a></small>
		</h3>
		<a href="/{channel_short_name}/post/{url_title}/">
			<img src="{cf-post_featured-image:thumb}">
		</a>
	{/exp:playa:children}
	{cf-widget_body}
</div>
{/exp:channel:entries}
<!-- // END widgets/featured-post -->