<!-- // START widgets/nav-local -->

{exp:taxonomy:nav 
    tree_id="1" 
    depth="1"
    entry_id="{embed:target}"
    display_root="no"
    auto_expand="yes"
    active_branch_start_level="1"
    ul_css_id="nav-sub"
    ul_css_class="side-nav"
 
}
	<li class="{node_active}"><a href="{node_url}">{node_title}</a>{children}</li>
{/exp:taxonomy:nav} 

<h3>{embed:target} hi</h3>
<!-- // END widgets/nav-local -->