<!-- // START widgets/topic-list -->
 {if embed:heading != ""}
	<h5>{embed:heading}</h5>
{/if}
 <ul class="side-nav">
 {exp:zoo_triggers:categories 
 	channel="{embed:channel}" 
 	status="public" 
 	path="/{embed:channel}/topic" 
 	all_text="Show all topics" 
 	show_counter="no"
 	show_ul="no"
 	cat_group_id="{embed:cat_group}"

 	}

</ul>
<!-- // END widgets/topic-list -->